In [1]:
folder =  "/home/nineleaps/Downloads"
filename = "cap_rooms.csv"
path = f'{folder}/{filename}'
path

'/home/nineleaps/Downloads/cap_rooms.csv'

In [4]:
df = pd.read_csv('/home/nineleaps/Downloads/cap_rooms.csv')
df

,ID,City,Location,PType,PPN,Nights,Beds,Baths,Reviews,Recent
0,IND137,Mumbai,NaN,Entire Home/Apartment,"₹3,200",2.0,1.0,1.0,4.0,2022-03-12
1,IND138,Bangalor,Indiranagar,Private Room,1800,NaN,1.0,1.0,2.0,15-Feb-23
2,IND139,Delhi,Hauz Khas,Entire Home/Apartment,₹4200,3.0,2.0,2.0,NaN,2021/12/25
3,IND140,Chennai,Teynampet,Shared Room,"₹1,000",1.0,NaN,1.0,1.0,"May 5, 2022"
4,IND141,Hyderabad,Jubilee Hills,Entire Home/Apartment,3800,3.0,3.0,3.0,5.0,2022-08-20 14:00
5,IND142,Pune,NaN,Private Room,"₹2,500",1.0,1.0,NaN,3.0,10/01/2023
6,IND143,Kolkata,Park Street,Entire Home/Apartment,₹2800,2.0,2.0,2.0,4.0,2022-04-15
7,IND144,Mumbai,Colaba,Shared Room,₹800,1.0,1.0,1.0,NaN,"Jun 18, 2022"
8,IND145,Bangalore,Koramangala,Entire Home/Apartment,₹5200,3.0,3.0,3.0,6.0,2022-02-28
9,IND146,Chennai,Anna Nagar,Private Room,One Thousand Five Hundred,1.0,1.0,1.0,2.0,2022-07-10
10,IND147,Hydrabad,Gachibowli,Entire Home/Apartment,₹4500,3.0,NaN,3.0,4.0,2022-01-10
11,IND148,Mumbai,Andheri,Private Room,₹1200,1.0,1.0,1.0,3.0,"Dec 25, 2021"
12,IND149,Delhi,Dwarka,Shared Room,₹900,1.0,1.0,NaN,2.0,20-Feb-22
13,IND150,Chennai,Egmore,Entire Home/Apartment,₹3800,3.0,3.0,3.0,NaN,11/08/2022
14,IND151,Pune,Shivaji Nagar,Private Room,Two Thousand,1.0,1.0,1.0,4.0,2022-05-15
15,IND152,Kolkata,Camac Street,Entire Home/Apartment,₹3200,2.0,2.0,2.0,5.0,18-Jun-22
16,IND153,Bangalore,Electronic City,Shared Room,₹600,1.0,NaN,1.0,1.0,2022-09-01
17,IND154,Mumbai,Nariman Point,Entire Home/Apartment,₹5800,3.0,3.0,3.0,6.0,2022-03-25 10:00
18,IND155,Hyderabad,Secunderabad,Private Room,₹1000,1.0,1.0,1.0,3.0,"July 4, 2022"
19,IND156,Chennai,Thiruvanmiyur,Entire Home/Apartment,₹4800,3.0,NaN,3.0,5.0,2022-02-14
20,IND157,Mumbai,Worli,Entire Home/Apartment,₹5000,3.0,3.0,NaN,5.0,2022-06-18
21,IND158,Delhi,Aerocity,Private Room,₹1500,1.0,1.0,1.0,4.0,"January 2, 2023"
22,IND159,Bangalore,HSR Layout,Shared Room,₹700,1.0,NaN,1.0,2.0,23-Mar-22
23,IND160,Hyderabad,Kondapur,Entire Home/Apartment,₹4200,3.0,3.0,3.0,6.0,2022-09-15 18:00
24,IND161,Chennai,Velachery,Private Room,Eight Hundred,1.0,1.0,1.0,1.0,10/04/2022
25,IND162,Pune,Koregaon Park,Entire Home/Apartment,₹5800,3.0,3.0,3.0,NaN,2022-07-22
26,IND163,Kolkata,Salt Lake,Shared Room,₹500,1.0,1.0,NaN,2.0,2022-05-01
27,IND164,Mumbai,BKC,Entire Home/Apartment,₹6500,3.0,4.0,4.0,7.0,2022-04-10
28,IND165,Delhi,Saket,Private Room,₹1800,1.0,1.0,1.0,5.0,"August 15, 2022"
29,IND166,Bangalore,MG Road,Entire Home/Apartment,₹7500,3.0,4.0,4.0,NaN,2022-03-28
30,IND167,Chennai,Guindy,Entire Home/Apartment,₹3800,3.0,3.0,NaN,5.0,2022-08-12
31,IND168,Pune,Hadapsar,Private Room,₹1200,1.0,1.0,1.0,3.0,"February 20, 2023"
32,IND169,Kolkata,New Town,Shared Room,₹600,1.0,NaN,1.0,2.0,15-Apr-22
33,IND170,Mumbai,Powai,Entire Home/Apartment,₹5500,3.0,3.0,3.0,6.0,2022-09-20 12:00
34,IND171,Delhi,Rohini,Private Room,One Thousand Five Hundred,1.0,1.0,1.0,4.0,2022-06-01
35,IND172,Bangalore,Jay Nagar,Entire Home/Apartment,₹6800,3.0,4.0,4.0,NaN,2022-04-25
36,IND173,Hyderabad,Manikonda,Shared Room,₹800,1.0,1.0,NaN,3.0,2022-07-15
37,IND174,Chennai,Tambaram,Entire Home/Apartment,₹4500,3.0,3.0,3.0,5.0,2022-03-18
38,IND175,Pune,Wagholi,Private Room,₹1500,1.0,1.0,1.0,4.0,"January 10, 2023"
39,IND176,Kolkata,Baranagar,Entire Home/Apartment,₹5000,3.0,3.0,3.0,NaN,2022-08-05
40,IND177,Mumbai,Ghatkopar,Shared Room,₹700,1.0,NaN,1.0,2.0,22-May-22
41,IND178,Delhi,Dilshad Garden,Entire Home/Apartment,₹6200,3.0,4.0,4.0,7.0,2022-05-12
42,IND179,Bangalore,Electronic City Phase 2,Private Room,₹1800,1.0,1.0,1.0,5.0,"August 25, 2022"
43,IND180,Hyderabad,Kukatpally,Entire Home/Apartment,₹7500,3.0,4.0,4.0,NaN,2022-06-28
44,IND181,Chennai,Adyar,Shared Room,₹500,1.0,1.0,NaN,2.0,2022-04-01
45,IND182,Pune,Bavdhan,Entire Home/Apartment,₹5800,3.0,3.0,3.0,6.0,2022-09-10 18:00
46,IND183,Kolkata,Lake Town,Private Room,₹1200,1.0,1.0,1.0,3.0,"February 15, 2023"
47,IND184,Mumbai,Santacruz,Entire Home/Apartment,₹7000,3.0,4.0,4.0,7.0,2022-07-22
48,IND185,Delhi,Pitampura,Shared Room,Eight Hundred,1.0,NaN,1.0,2.0,10/03/2022
49,IND186,Bangalore,Marathahalli,Entire Home/Apartment,₹8000,3.0,5.0,5.0,NaN,2022-05-05

In [3]:
import pandas as pd

In [5]:
df.isna().sum()

ID           0
City         0
Location     2
PType        0
PPN          0
Nights       1
Beds         8
Baths        7
Reviews      9
Recent       0
dtype: int64

In [6]:
df['Nights'] = df.Nights.fillna(df.Nights.mean())
df['Beds'] = df.Beds.fillna(df.Beds.median())
df['Baths'] = df.Baths.fillna(df.Baths.median())
df['Reviews'] = df.Reviews.fillna(df.Reviews.mean())

In [7]:
df.isna().sum()

ID           0
City         0
Location     2
PType        0
PPN          0
Nights       0
Beds         0
Baths        0
Reviews      0
Recent       0
dtype: int64

In [10]:
df["Location "] = df['Location '].fillna("Unknown")

In [11]:
df.isna().sum()

ID           0
City         0
Location     0
PType        0
PPN          0
Nights       0
Beds         0
Baths        0
Reviews      0
Recent       0
dtype: int64

In [12]:
df.City.unique()

array(['Mumbai', 'Bangalor', 'Delhi', 'Chennai', 'Hyderabad', 'Pune',
       'Kolkata', 'Bangalore', 'Hydrabad', 'Delhi '], dtype=object)

In [13]:
df['City'] = df.City.replace(
    {
    'Bangalor$' : 'Bangalore',
    'Delhi ' : 'Delhi',
    'Hydrabad' : 'Hyderabad'
    },
regex = True
)
df['City'].unique()

array(['Mumbai', 'Bangalore', 'Delhi', 'Chennai', 'Hyderabad', 'Pune',
       'Kolkata'], dtype=object)

In [15]:
df.PPN.unique()

array(['₹3,200', '1800', '₹4200', '₹1,000', '3800', '₹2,500', '₹2800',
       '₹800', '₹5200', 'One Thousand Five Hundred', '₹4500', '₹1200',
       '₹900', '₹3800', 'Two Thousand', '₹3200', '₹600', '₹5800', '₹1000',
       '₹4800', '₹5000', '₹1500', '₹700', 'Eight Hundred', '₹500',
       '₹6500', '₹1800', '₹7500', '₹5500', '₹6800', '₹6200', '₹7000',
       '₹8000'], dtype=object)

In [16]:
df['PPN'] = df.PPN.replace(
    {
    '₹' : '',
    ',' : '',
    'One Thousand Five Hundred' : 1500,
    'Two Thousand' : 2000,
    'Eight Hundred' : 800,
    },
regex = True
).astype(int)
df.head()

,ID,City,Location,PType,PPN,Nights,Beds,Baths,Reviews,Recent
0,IND137,Mumbai,Unknown,Entire Home/Apartment,3200,2.000000,1.0,1.0,4.000000,2022-03-12
1,IND138,Bangalore,Indiranagar,Private Room,1800,1.959184,1.0,1.0,2.000000,15-Feb-23
2,IND139,Delhi,Hauz Khas,Entire Home/Apartment,4200,3.000000,2.0,2.0,3.853659,2021/12/25
3,IND140,Chennai,Teynampet,Shared Room,1000,1.000000,2.0,1.0,1.000000,"May 5, 2022"
4,IND141,Hyderabad,Jubilee Hills,Entire Home/Apartment,3800,3.000000,3.0,3.0,5.000000,2022-08-20 14:00

In [17]:
from dateutil import parser
def format_date(date_str):
        return pd.to_datetime(parser.parse(str(date_str))).strftime('%Y-%m-%d')
df['Recent'] = df['Recent'].apply(format_date)
df.head()

,ID,City,Location,PType,PPN,Nights,Beds,Baths,Reviews,Recent
0,IND137,Mumbai,Unknown,Entire Home/Apartment,3200,2.000000,1.0,1.0,4.000000,2022-03-12
1,IND138,Bangalore,Indiranagar,Private Room,1800,1.959184,1.0,1.0,2.000000,2023-02-15
2,IND139,Delhi,Hauz Khas,Entire Home/Apartment,4200,3.000000,2.0,2.0,3.853659,2021-12-25
3,IND140,Chennai,Teynampet,Shared Room,1000,1.000000,2.0,1.0,1.000000,2022-05-05
4,IND141,Hyderabad,Jubilee Hills,Entire Home/Apartment,3800,3.000000,3.0,3.0,5.000000,2022-08-20

In [18]:
df.to_csv('Cleaned.csv' , index = False)

In [19]:
! pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 KB 3.3 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [20]:
df_csv = pd.read_csv('Cleaned.csv')
df_csv.to_excel('Cleaned.xlsx' , index = False ,engine = 'openpyxl')